.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

nav a {
  padding-right: 20px;
  font-weight: bold;
  color: #4caf50;
}

.userFbPicture {
  width: 60px;
}

.authHeader {
  right: 15px;
}

.geosuggest__suggests--hidden {
  max-height: 0;
  overflow: hidden;
  border-width: 0;
}

.geosuggest__item--active {
  background: #267dc0;
  color: #fff;
}



.jumbotron {
  margin-bottom: 0px;
  height: 500px;
  background: url('/img/fondhome.png') no-repeat center center;
  background-size: cover;
}
